<% layout('./admin/layout/boilerplate.ejs') -%>

<body>
  <div class="mt-5 mb-4 p-4 text-center">
    <h2>Home Page of admin panel</h2>
  </div>
  <div class="container mt-4">
    <div class="row mb-3">
      <div class="col-4">
        <a href="/admin/photo-carousel" class="text-decoration-none">
          <div
            class="h-100 w-100 bg-primary p-4 rounded text-white text-center"
          >
            <h3 class="fw-bold">Photo Carousel</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/notice" class="text-decoration-none">
          <div
            class="h-100 w-100 bg-secondary p-4 rounded text-white text-center"
          >
            <h3 class="fw-bold">Notice</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/notification" class="text-decoration-none">
          <div
            class="h-100 w-100 bg-success p-4 rounded text-white text-center"
          >
            <h3 class="fw-bold">Notification</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <a href="/admin/achievements" class="text-decoration-none">
          <div class="h-100 w-100 bg-danger p-4 rounded text-white text-center">
            <h3 class="fw-bold">Achievements</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/student-testimonial" class="text-decoration-none">
          <div
            class="h-100 w-100 bg-warning p-4 rounded text-white text-center"
          >
            <h3 class="fw-bold">Student Testimonials</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/faculty" class="text-decoration-none">
          <div class="h-100 w-100 bg-black p-4 rounded text-white text-center">
            <h3 class="fw-bold">Faculty</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <div class="h-100 w-100 bg-dark p-4 rounded text-white text-center">
          <h3 class="fw-bold">Abc Xyz</h3>
        </div>
      </div>
      <div class="col-4">
        <div class="h-100 w-100 bg-success p-4 rounded text-white text-center">
          <h3 class="fw-bold">Abc Xyz</h3>
        </div>
      </div>
      <div class="col-4">
        <div
          class="h-100 w-100 bg-secondary p-4 rounded text-white text-center"
        >
          <h3 class="fw-bold">Abc Xyz</h3>
        </div>
      </div>
    </div>
  </div>
</body>
