<% layout('./admin/layout/boilerplate.ejs') -%>

<body>
  <div class="mt-5 mb-4 p-4 text-center">
    <h1>Home Page of admin panel</h1>
  </div>
  <div class="container mt-4">
    <div class="row mb-3">
      <div class="col-4">
        <a href="/admin/photo-carousel" class="text-decoration-none">
          <div class="h-100 w-100 bg-primary p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-images me-2"></i>Photo Carousel</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/notice" class="text-decoration-none">
          <div class="h-100 w-100 bg-secondary p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-clipboard me-2"></i>Notice</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/notification" class="text-decoration-none">
          <div class="h-100 w-100 bg-success p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-bell me-2"></i>Notification</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <a href="/admin/achievements" class="text-decoration-none">
          <div class="h-100 w-100 bg-danger p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-trophy me-2"></i>Achievements</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/student-testimonial" class="text-decoration-none">
          <div class="h-100 w-100 bg-warning p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-chat-quote me-2"></i>Student Testimonials</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/faculty" class="text-decoration-none">
          <div class="h-100 w-100 bg-black p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-person-badge me-2"></i>Faculty</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <a href="/admin/media" class="text-decoration-none">
          <div class="h-100 w-100 bg-success p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-collection-play me-2"></i>Media</h3>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="/admin/research" class="text-decoration-none">
          <div class="h-100 w-100 bg-secondary p-4 rounded text-white text-center">
            <h3 class="fw-bold"><i class="bi bi-journal-medical me-2"></i>Research</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
