<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 

    <!-- Header -->
    <section class="relative h-[300px] md:h-[350px] lg:h-[400px] bg-cover bg-center bg-no-repeat clip-right-slant"
        style="background-image: url('https://images.trinitylaban.ac.uk/uploads/2024/09/3.-Stretch_PH-Rachel-Cherry-scaled-1-aspect-ratio-16-9-1.jpg');">
        <div class="absolute inset-0 bg-black/70"></div>
        <div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center px-6">
            <h2 class="text-5xl md:text-8xl font-bold text-glow">D-TARAXIA</h2>
        </div>
    </section>

    <!-- Description Section -->
    <section class="flex flex-col md:flex-row items-center justify-center bg-stone-200 px-[4vw] py-[4vw] lg:ml-20 lg:ml-40 lg:-mt-[2vw]">
    <!-- About Us Box -->
<div class="w-full sm:w-[45vh] md:w-[40vw] lg:w-[30vw] min-h-[20vw] 
text-left border border-gray-300 shadow-lg rounded-md p-[3vw] 
flex flex-col justify-between overflow-hidden">

<h3 class="text-[5vw] md:text-[2.5vw] lg:text-[1.75vw] text-gray-800 pt-[1vw]">
    D-Taraxia: Dance with Passion
</h3>

<p class="mt-[2vw] md:mt-[1vw] text-gray-700 text-[2vw] md:text-[1.5vw] lg:text-[1vw] leading-tight">
Dtaraxia, the vibrant dance club of IIIT Nagpur, is a hub for passionate dancers who express themselves through movement. 
From energetic hip-hop to graceful classical performances, the club brings rhythm and creativity to campus life. 
With regular workshops, performances, and inter-college competitions, Dtaraxia fosters talent, teamwork, and a love for dance.
</p>

</div>

    
        <!-- Image Box -->
        <div class="w-full md:w-[50vw] flex justify-center relative mt-[4vw] md:mt-0">
            <div class="relative flex justify-center items-center">
                <div class="absolute top-[1vw] left-[1vw] w-[calc(100%+0.5vw)] h-[calc(100%+0.5vw)] border-[0.35vw]"
                    style="border-color: rgba(207, 169, 74); border-style: solid;"></div>
                <div class="relative z-10">
                    <img src="https://images.squarespace-cdn.com/content/v1/64949dc79977705a91fbda77/4bd39523-9ec3-4112-9ab3-57c92fdf75e4/U+of+U+Fall+Dance+2+2021+1180+edit.jpg" alt="D-TARAXIA Performance" 
                         class="w-[50vw] h-[40vw] sm:w-[50vw] sm:h-[35vw] md:w-[35vw] md:h-[30vw] 
                                lg:w-[27vw] lg:h-[23vw] object-cover shadow-lg ">
                </div>
            </div>
        </div>
    </section>
    
    

    <!-- Testimonials Section -->
    <div class="swiper mySwiper2 mt-20 mb-[2vw]">
        <div class="swiper-wrapper">
            <div class="swiper-slide ">
                <div class="bg-zinc-200 w-[320px] h-[250px] flex flex-col items-center justify-center  shadow-lg">
                    <div class="w-[320px] h-[200px]  overflow-hidden">
                        <img class="w-full h-full object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQHVcQ4mQiKEZ02SfudGGI-52-bomao_e9kcwg8J-ZO2ndct2NoXMDmVePw43SvLNNqqs&usqp=CAU" alt="Srishti Verma">
                    </div>
                    <div class="text-center mt-4">
                        <h1 class="text-lg font-bold text-gray-800">Srishti Verma</h1>
                        <a href="https://example.com" target="_blank" class="text-blue-600 text-xs hover:underline">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-zinc-200 w-[320px] h-[250px] flex flex-col items-center justify-center  shadow-lg">
                    <div class="w-[320px] h-[200px]  overflow-hidden">
                        <img class="w-full h-full object-cover" src="https://i.pinimg.com/736x/b8/32/65/b83265217c4dd9b160e22e53f163b330.jpg" alt="Srishti Verma">
                    </div>
                    <div class="text-center mt-4">
                        <h1 class="text-lg font-bold text-gray-800">Srishti Verma</h1>
                        <a href="https://example.com" target="_blank" class="text-blue-600 text-xs hover:underline">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-zinc-200 w-[320px] h-[250px] flex flex-col items-center justify-center  shadow-lg">
                    <div class="w-[320px] h-[200px]  overflow-hidden">
                        <img class="w-full h-full object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXlYaCeezhtxI20EHxINr48dYY7SIe_XvFIA&s" alt="Srishti Verma">
                    </div>
                    <div class="text-center mt-4">
                        <h1 class="text-lg font-bold text-gray-800">Srishti Verma</h1>
                        <a href="https://example.com" target="_blank" class="text-blue-600 text-xs hover:underline">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-zinc-200 w-[320px] h-[250px] flex flex-col items-center justify-center  shadow-lg">
                    <div class="w-[320px] h-[200px]  overflow-hidden">
                        <img class="w-full h-full object-cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpvei_wvz6TpqWVYiWxbW3r2nlBZaDN-hYQw&s" alt="Srishti Verma">
                    </div>
                    <div class="text-center mt-4">
                        <h1 class="text-lg font-bold text-gray-800">Srishti Verma</h1>
                        <a href="https://example.com" target="_blank" class="text-blue-600 text-xs hover:underline">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-zinc-200 w-[320px] h-[250px] flex flex-col items-center justify-center  shadow-lg">
                    <div class="w-[320px] h-[200px]  overflow-hidden">
                        <img class="w-full h-full object-cover" src="https://dt7savnbjquj3.cloudfront.net/_imager/files/303761/190505-TLS_IntoTheDawn3_9eed5a99b701ba360780d44a67c674dc.jpg" alt="Srishti Verma">
                    </div>
                    <div class="text-center mt-4">
                        <h1 class="text-lg font-bold text-gray-800">Srishti Verma</h1>
                        <a href="https://example.com" target="_blank" class="text-blue-600 text-xs hover:underline">Read More</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-zinc-200 w-[320px] h-[250px] flex flex-col items-center justify-center  shadow-lg">
                    <div class="w-[320px] h-[200px]  overflow-hidden">
                        <img class="w-full h-full object-cover" src="https://www.keralatourism.org/_next/image/?url=http%3A%2F%2F127.0.0.1%2Fktadmin%2Fimg%2Fpages%2Fmobile%2Fkathakali-classical-artform-1716726714_94ec483526935249eccd.webp&w=3840&q=75" alt="Srishti Verma">
                    </div>
                    <div class="text-center mt-4">
                        <h1 class="text-lg font-bold text-gray-800">Srishti Verma</h1>
                        <a href="" target="_blank" class="text-blue-600 text-xs hover:underline">Read More</a>
                    </div>
                </div>
            </div>
        
        </div>
    
        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    
    <%- include('../partials/footer') %> 
</body>
<%- include('../partials/tail2') %> 