<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="main2 w-full min-h-screen bg-white text-black">
        <div class="w-full lg:h-[100px] md:h-[80px]"></div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-44 flex items-center gap-4 bg-[#00457b] py-5"
        >
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Basic Sciences <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Bos
          </a>
        </div>

        <div class="content px-44 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-black">Bos</h2>
          <div class="w-full h-[1px] bg-zinc-300 mt-2"></div>
          <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Data Table</title>
</head>
<body class="">
    <div class="overflow-x-auto mt-8">
        <table class="w-full border border-gray-300">
            <thead>
                <tr class="bg-gray-100 border-b border-gray-300">
                    <th class="px-6 py-4 border-r border-gray-300 text-left font-semibold">Sr. No.</th>
                    <th class="px-6 py-4 border-r border-gray-300 text-left font-semibold">Name</th>
                    <th class="px-6 py-4 border-r border-gray-300 text-left font-semibold">Position</th>
                    <th class="px-6 py-4 text-left font-semibold">Designation</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">1</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Prasad V. Joshi</td>
                    <td class="px-6 py-4 border-r border-gray-300">Chairman</td>
                    <td class="px-6 py-4">Head of Department, BS</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">2</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Tausif Diwan</td>
                    <td class="px-6 py-4 border-r border-gray-300">Special Invitee</td>
                    <td class="px-6 py-4">Associate Dean</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">3</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Harsh Goud</td>
                    <td class="px-6 py-4 border-r border-gray-300">Special Invitee</td>
                    <td class="px-6 py-4">Head of Department, ECE</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">4</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Nishat Ansari</td>
                    <td class="px-6 py-4 border-r border-gray-300">Special Invitee</td>
                    <td class="px-6 py-4">Head of Department, CSE</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">5</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Yogesh Deshpande</td>
                    <td class="px-6 py-4 border-r border-gray-300">External Member</td>
                    <td class="px-6 py-4">Professor, (Psychology & Management), VNIT Nagpur</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">6</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. M. Devakar</td>
                    <td class="px-6 py-4 border-r border-gray-300">External Member</td>
                    <td class="px-6 py-4">Professor, (Mathematics), VNIT Nagpur</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">7</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. R.S. Gedam</td>
                    <td class="px-6 py-4 border-r border-gray-300">External Member</td>
                    <td class="px-6 py-4">Professor, (Physics), VNIT Nagpur</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">8</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Bibhudatta Dash</td>
                    <td class="px-6 py-4 border-r border-gray-300">External Member</td>
                    <td class="px-6 py-4">Assistant Professor, (Language), VNIT Nagpur</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">9</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Maithili Paikane</td>
                    <td class="px-6 py-4 border-r border-gray-300">External Member</td>
                    <td class="px-6 py-4">Assistant Professor, (Social Science)</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">10</td>
                    <td class="px-6 py-4 border-r border-gray-300">Shri Varun Pimplapure</td>
                    <td class="px-6 py-4 border-r border-gray-300">External Member</td>
                    <td class="px-4 py-2">Industry Expert (Delivery) <br> (Ex. Army officer)</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">11</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Kirti Dorshetwar</td>
                    <td class="px-6 py-4 border-r border-gray-300">Member</td>
                    <td class="px-6 py-4">Assistant Professor</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">12</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Charu Goel</td>
                    <td class="px-6 py-4 border-r border-gray-300">Member</td>
                    <td class="px-6 py-4">Assistant Professor</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">13</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Aatish Daryapurkar</td>
                    <td class="px-6 py-4 border-r border-gray-300">Member</td>
                    <td class="px-6 py-4">Assistant Professor</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">14</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Chandrashekhar Sakode</td>
                    <td class="px-6 py-4 border-r border-gray-300">Member</td>
                    <td class="px-6 py-4">Assistant Professor</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">15</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Kamaljeet</td>
                    <td class="px-6 py-4 border-r border-gray-300">Member</td>
                    <td class="px-6 py-4">Assistant Professor</td>
                </tr>
                <tr class="border-b border-gray-300">
                    <td class="px-6 py-4 border-r border-gray-300">16</td>
                    <td class="px-6 py-4 border-r border-gray-300">Dr. Ujwal Warbe</td>
                    <td class="px-6 py-4 border-r border-gray-300">Member</td>
                    <td class="px-6 py-4">Assistant Professor</td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 