<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class=" w-full min-h-screen bg-white text-black">
        <div class="w-full lg:h-[100px] md:h-[80px]"></div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-44 flex items-center gap-4 bg-[#00508a] py-5"
        >
          <a
            class="text-sm font-medium hover:text-orange-500 uppercase inline-block text-white"
            href="#"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-orange-500 uppercase inline-block text-white"
            href="#"
            >Basic Sciences <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-orange-500 uppercase inline-block text-white"
            href="#"
            >Faculty
          </a>
        </div>

        <div class="content px-44 mt-16 mb-10">

          <div class="w-full p-10 pb-0 ">
            <h1 class="text-3xl text-zinc-900/90 capitalize mb-3 font-extrabold">Head of Department</h1>
            <div class="text-white relative pl-4 hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out h-[350px] w-[220px]">
                <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                    <img class="h-full w-full object-top object-cover" src="../images/basicScience/HOD.jpg" alt="">
                </div>
                <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                    <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                    <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                </div>
                
            </div>
          </div>


          <div class="w-full py-8 px-10 ">
            <h1 class="text-3xl text-zinc-900/90 capitalize mb-3 font-extrabold">Faculty members</h1>
            <div class="flex flex-wrap items-center justify-items-start gap-5">


                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/1.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/2.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/3.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/4.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/5.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/6.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/7.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/8.png" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/9.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/10.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/11.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/12.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                <div class="text-white hover:drop-shadow-[0_10px_15px_rgba(0,0,0,0.3)] transition duration-300 ease-in-out relative pl-4 h-[350px] w-[220px]">
                    <div class="card overflow-hidden rounded-t-md border-t-2  border-gray-200  w-full h-[250px] ">
                        <img class="h-full w-full object-top object-cover" src="../images/basicScience/13.jpg" alt="">
                    </div>
                    <div class="bg-[#00508a] content-center rounded-b-md w-full h-[100px]">
                        <h2 class="text-sm text-center text-white font-bold uppercase">Dr. Prasad V.Joshi</h2>
                        <h3 class="capitalize text-center text-xs mt-2 font-bold">Assistant professor & HOD</h3>
                    </div>
                </div>
                
                
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 