<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="main w-full min-h-screen bg-white text-black">
      <div class="w-full lg:h-[100px] md:h-[80px]"></div>
      <div class="img w-full overflow-hidden">
        <img
          class="w-full h-76 object-cover object-center"
          src="../images/basicScience/BS.jpg"
          alt=""
        />
      </div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-44 flex items-center gap-4 bg-[#f6f6f6] py-5"
        >
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Basic Sciences <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Projects
          </a>
        </div>

        <div class="content px-44 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-black">
            Projects
          </h2>
          <div class="w-full h-[1px] bg-zinc-300 mt-2"></div>
           <div class="pl-10 mt-6">
            <ol class="list-disc">
                <li>
                    <p class="text-sm font-normal leading-6">Dr. Aatish S. Daryapurkar, “Electrospinning of lead free NBTBT6 based materials for sensors and energy harvesting applications” funding agency SERB-DST, Rs. 27.26 Lakh.</p>
                </li>
                <li>
                    <p class="text-sm font-normal leading-6">Dr. Aatish S. Daryapurkar, “Synthesis of Curcumin-PLGA Nanofiber using Electrospinning techniques and to evaluate the efficacy of CU-PLGA nanofiber mat in GAgP patient” funding agency New Gen IEDC, DMIMS, Rs. 2.50 Lakh.</p>
                </li>
                <li>
                    <p class="text-sm font-normal leading-6">Prasad V. Joshi, “Analytical and experimental studies on the dynamic characteristics of submerged perforated plates”, funding agency DST SERB, Rs. 35.46 Lakh.</p>
                </li>
                <li>
                    <p class="text-sm font-normal leading-6">Prasad V. Joshi, “ Modernization of IC engines lab with experiments on data acquisition” funded by AICTE- Completed, Rs. 12.0 Lakh</p>
                </li>
                <li>
                    <p class="text-sm font-normal leading-6">Prasad V. Joshi, “ Upgradation of Vibration lab using FFT analyser” funded by AICTE- Completed, Rs. 7.0 Lakh</p>
                </li>
            </ol>
           </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 