<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class=" w-full min-h-screen bg-white text-black">
      <div class="w-full lg:h-[100px] md:h-[80px]"></div>
      <div class="img w-full overflow-hidden">
        <img
          class="w-full h-76 object-cover object-center"
          src="../images/basicScience/BS.jpg"
          alt=""
        />
      </div>

      <div class="mainContent w-full">
        <div
          class="routes w-full px-44 flex items-center gap-4 bg-[#f6f6f6] py-5"
        >
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Home <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Basic Sciences <i class="ri-arrow-right-s-line text-md"></i>
          </a>
          <a
            class="text-sm font-medium hover:text-blue-400 uppercase inline-block text-zinc-500"
            href="#"
            >Research
          </a>
        </div>

        <div class="content px-44 mt-16 mb-10">
          <h2 class="text-2xl uppercase font-bold text-black">Research</h2>
          <div class="w-full h-[1px] bg-zinc-300 mt-2"></div>
          <h4 class="text-md mt-5 font-bold">
            The Department of Basic Sciences has experienced Faculty members,
            who are well qualified with Ph.D degrees from NIT’s/IIT’s.
          </h4>
          <div class="overflow-x-auto w-[70%] mt-14 pl-32">
            <table class="w-full border border-gray-300">
              <thead>
                <tr class="bg-gray-100 border-b border-gray-300">
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Sr. No.
                  </th>
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Name
                  </th>
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Area of Specialization
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">1</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Prasad V. Joshi
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Chairman</td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">2</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Tausif Diwan
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Special Invitee
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">3</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Harsh Goud
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Special Invitee
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">4</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Nishat Ansari
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Special Invitee
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">5</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Yogesh Deshpande
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    External Member
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">6</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. M. Devakar
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    External Member
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">7</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. R.S. Gedam
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    External Member
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">8</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Bibhudatta Dash
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    External Member
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">9</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Maithili Paikane
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    External Member
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">10</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Shri Varun Pimplapure
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    External Member
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">11</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Kirti Dorshetwar
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Member</td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">12</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Charu Goel
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Member</td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">13</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Aatish Daryapurkar
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Member</td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">14</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Chandrashekhar Sakode
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Member</td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">15</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Kamaljeet
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Member</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 class="text-md mt-8 font-bold">
            The department faculty has more than 69 research publications in
            journals of repute in the following areas;
          </h4>
          <div class="mt-8 px-20">
            <ol class="list-disc">
              <li>
                <p class="text-base font-normal leading-6">
                  Applied Mathematics, Algebra, Numerical Analysis, Differential
                  Equations, Data Science, Mathematical Modelling.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                  Applied/ Engineering Physics, Material Science, Nanoscience
                  and Nanotechnology,
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                  Culture and Society, Technology and culture intervention,
                  Small Scale Industries and Forestry based MSMEs.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                  CAD/CAM, Supply Chain Management, Biogas characterization
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                  Solid Mechanics, Vibration, Computer Graphics, Robotics
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                  Neuro Fuzzy logic, Optimization & Control system
                </p>
              </li>
            </ol>
          </div>
          <h4 class="text-lg mt-5 font-bold">Patent:</h4>
          <div class="overflow-x-auto pl-16 mt-10">
            <table class="w-full border border-gray-300">
              <thead>
                <tr class="bg-gray-100 border-b border-gray-300">
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Sl. No.
                  </th>
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Inventor/s Name
                  </th>
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Patent Application No.
                  </th>
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Filed/Published / Granted
                  </th>
                  <th
                    class="px-6 py-4 border-r border-gray-300 text-left font-semibold"
                  >
                    Title of the Patent
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">1</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Aatish Sanjayrao Daryapurkar*, Vipin Milind Kamble, Saurav
                    Manohar Gajbhiye*, Harshal Ravikumar Khandait*, Purva Rajesh
                    Goydani, Vedant Rajesh Gannarpwar, Pranav Yogesh Rabade,
                    Kaushik Satish Yelne
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    "202021043873"
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Published</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    An automated irrigation system for guiding irrigation
                    scheduling
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">2</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Kirti Dorshetwar
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    202341076211 A
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">Published</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Integrating social media and Commerce Applications
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">3</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Madhuri Tayade, Dr. Nirzar Kulkarni, Dr. Dinesh Kumar
                    Mirkute, Dr Sujit Metre
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">431233-001</td>
                  <td class="px-6 py-4 border-r border-gray-300">Filed</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Device for Effective Supply Chain and Logistics Management
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">4</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Prasad V. Joshi
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">397540-001</td>
                  <td class="px-6 py-4 border-r border-gray-300">Granted</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Flexible Boundary Condition Setup for Vibration of
                    Rectangular Plates for All Sizes and Edge Conditions
                  </td>
                </tr>
                <tr class="border-b border-gray-300">
                  <td class="px-6 py-4 border-r border-gray-300">5</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Dr. Shaileshkumar Y. Janbandhu, Rupesh S. Gedam, Mrs. Shilpa
                    R. Gedam
                  </td>
                  <td class="px-6 py-4 border-r border-gray-300">379142</td>
                  <td class="px-6 py-4 border-r border-gray-300">Granted</td>
                  <td class="px-6 py-4 border-r border-gray-300">
                    Borosilicate Glass Composition Embedded with Cds/Tio2
                    Composites Forindigo Carmine Dye Degradation
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <h4 class="text-lg mt-5 font-bold">Book Chapters :</h4>
          <div class="mt-8 px-20">
            <ol class="list-decimal">
              <li>
                <p class="text-base font-normal leading-6">
                  C. Goel and B. Reznick, "Sums of Squares of k-term forms",
                  arXiv:2403.08697 (2024)
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    C. Goel, S. Hess, S. Kuhlmann, "A Refinement of Hilbert's 1888 Theorem: Separating Cones along the Veronese Variety", arXiv: 2401.03813 (2024).
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    C. Goel, S. Hess, S. Kuhlmann, "Intermediate Cones between the Cones of Positive Semidefinite Forms and Sums of Squares", arXiv: 2303.13178 (2023)
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. M. Paikane, Dr. K Dorshetwar,Learning English Through Poetry, Plays & Novels, LAMBERT Publication, 2022,ISBN:978-620-5-51187-9
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Kirti Dorshetwar, Dr. M. Paikane, Indian Woman Novelist:Shobha De,  LAMBERT Publication ,  2022 , ISBN: 978-620-5-49010-5
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Kirti Dorshetwar, New Avenues for Women in ShobhaDe’sWriting,Book on Rethinking Gender: Perspectives from Literature and Society with ISBN No ISBN- 978-81-948301-5-3
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Kirti Dorshetwar, Dr. AnuradhaSingh,Dr. M. Paikane,Essays on COVID-19: A Research Study,  Sankalp Publication,  2021,ISBN 978-81-948301-3-9
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Madhuri Tayade, Probing The Influence of English Literature on the Indian Knowledge System in Light of NEP 2020, Indian Knowledge System, Values and Philosophies,  ISBN- 978-81-977606-2-2 page no
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Madhuri Tayade, “Present Status of Women in India” in Gender Equality by Dr. VaishaliMeshram, Published by Adhar Publication- Amaravati. ISBN-978-93-91305-28-. Page: 10
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dhenge, Vikrant and Nimbarte, G.N. (July 2024) Impact Assessment of Citizen Participation and Service Quality on Citizen Satisfaction in Mid-sized Smart Cities in India. Sustainable Resilient Built Environment, Advances in 21st Century Human Settlements, Springer Nature. doi: 10.1007/978-981-99-8811-2
                </p>
              </li>
            </ol>
          </div>
          <h4 class="text-lg mt-5 font-bold">Conference Papers :</h4>
          <div class="mt-8 px-20">
            <ol class="list-decimal">
              <li>
                <p class="text-base font-normal leading-6">
                    P. V. Joshi, "Effect of crack location on vibration analysis of cracked FGM plate under thermal environment, March 15-17,2018. (Accepted for publication) SCOPUS indexed MATERIALS TODAY PROCEEDINGS", , No. , Pages 28043-28050, 2018.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    P. V. Joshi, "Effect of thermal environment on vibration response of partially cracked functionally graded plate coupled with fluid, , Lovely Professional University, Phagwara, Punjab, March 15-17,2018. (Accepted for publication) SCOPUS indexed", Vol. nan, No. ,2018.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    ShradhaBansod (Pande), A. S. Daryapurkar, SushilPande “Biomass fly ash as a source of silica: Comprehensive review” National Conference on Green Earth –Clean Earth”, 10th Feb 2024, Nagpur.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    H. Pundkar, Sharad S. Chaudhari, A. S. Daryapurkar “Navigating the Potential of Nanomaterial in Thermal Systems Evaluating Performance, Stability and Overcoming Limitations with Innovative Solutions: A Comprehensive Review” International Conference on Energy and Environmental Materials” 11th -13th, July 2024, IIT Indore.

                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    K. Pendke, M. Digalwar, C. Goel, "Identification and Analysis of Emotions from the Text for Stress Detection", Fifteenth International Conference on Contemporary Computing (IC3-2023), Association for Computing Machinery ICPS, New York, USA, 2023, 623-630. https://doi.org/10.1145/3607947.3608070
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Goel, S. Kuhlmann, "A Tale of Two Cones: PSD vs SOS in equivariant situations", The 25th Intenational Symposium on MTNS, EPub Bayreuth, 2022, pp 781-783. https://doi.org/10.15495/EPub_UBT_00006809
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Kirti Sanjay Dorshetwar,NandanChabbi,"The Societal Impact of Artificial Inteligence for India's Healthcare System", in PAN NIT Humanities & Social Sciences Research Conclave 2024
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Kirti Sanjay Dorshetwar, National Education Policy 2020: A Right Step in Reviving the Education in Mother Tongue
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Kirti Dorshetwar, ShobhaDe’s Ironic Representation of Relationships with Special Reference of Metro Cities, in IARCSAC 2nd International Architectural Sciences & Applications Symposium, September 9 to 11 September 2022,Baku Engineering University Baku, Azerbaijan
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. Kirti Dorshetwar, Economic Ramification Due to Covid, ISPEC 10th International Conference on Agriculture,July 18-19 2022, Sivas University of Science &Technology,Turkey
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. KirtiDorshetwar, New Avenues for Women in ShobhaDe’s Writing, Interdiscipilinary National Conference on Rethinking Gender:Perspectives from Literature and Society, VNIT.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. KirtiDorshetwar,Dr. M. Paikane, Evaluating Veiled Feminine Yearning in the Movies of Satyjeet Ray,  1st International Architectural Sciences and Application Symposium, Isparta University, Turkey,27-29 October 2021.
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. KirtiDorshetwar, A. Kohad, , B. Tiwari,, H. Kedia, Y. Baghel.Impact of COVID-19 on Indian Economy with special reference to Business,Two Days Interdisciplinary International e-Conference on Impact of COVID-19 on Various Areas of Global Economy, Science & Humanities Gondwana University, Gadchiroli, MS, India,  24 & 25 June 2020
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. KirtiDorshetwar,HarshShrivastava, TejasDeore, VaibhavChaurasia& Ashish Sonam, The Latest Inventions of Online Platforms to Raise the Issues of Covid-19,  International Conference , Digital  Humanities in the 21st Century :Understanding  Human-Machine Interface & the  Dawn of Post-humanism, 28/7/20 to 30/7/20 by Bharata Mata College, Thrikkakara
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. KirtiDorshetwar, Environmental Concerns for Smart City,  Redefining Environmental Governance for Smart City, Post Graduate Teaching Department of Hindi of RTMNU,Nagpur on 2nd March, 2019
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. KirtiDorshetwar,AChandel,Media as a Social Need,International Conference on Management, Engineering & Social Science(ICMESS-19) on 23rd-24th August, 2019 at Mumbai
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. MadhuriTayade, "Intentionality of Implementing AI and The Impact on Environmental Sustainibility of Educational Institutes,"Governance Education Policy based International Conference on Artificial Intelligence (GEPIC-AI), AIMANTHAN, held by Vishwamanthan Research Foundation on 12th-13th July, 2024 at IIM,Nagpur
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. MadhuriTayade, "Natural Environment Degradation, Sustainable Development and Ethics" International Conference on Research and Innovation for Sustainable Developemnt, 4th May, 2024, at UIET, MDU, Rohtak
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    Dr. MadhuriTayade, "Impact of Climate Change on Human Physical and Mental Health," 4th World Environment Summit -4th – 5th November 2023 by Galgotias University at Convention Centre, Delhi University, North Campus, Delhi (India)
                </p>
              </li>
              <li>
                <p class="text-base font-normal leading-6">
                    V. Dhenge and K. S. Dorshetwar, "Overview of Ethics in Artificial Intelligence: Using Case Studies Approach," 2024 IEEE International Conference on Interdisciplinary Approaches in Technology and Management for Social Innovation (IATMSI), Gwalior, India, 2024, pp. 1-6, doi: 10.1109/IATMSI60426.2024.10502940.
                </p>
              </li>
            </ol>
          </div>
          <h4 class="text-lg mt-8 font-bold">More than 19 seminars/STTPs/workshops organized in last few years.</h4>
        </div>
      </div>
    </div>

    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 