<%- include('../partials/head2') %> 
  <body>
    <%- include('../partials/nav') %> 
    <div class="pb-20 w-full min-h-screen bg-white text-[#00457b]">
      <div class="w-full lg:h-[100px] md:h-[70px] h-[60px]"></div>
   

      <div
      class="routes w-full px-6 md:px-20 lg:px-44 flex flex-wrap items-center gap-2 md:gap-4 bg-[#00457b] py-3 md:py-5"
    >
      <a
        class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
        href="#"
        >Home <i class="ri-arrow-right-s-line text-md"></i>
      </a>
      <a
        class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
        href="#"
        >Others <i class="ri-arrow-right-s-line text-md"></i>
      </a>
      <a
      class="text-xs md:text-sm font-medium hover:text-[#f26e32] uppercase inline-block text-white"
      href="#"
      >Consultancy
    </a>
    </div>
      <!-- Main Content -->
      <div class="border-4 border-[#00457b] md:m-10 m-8 pb-10">
        <div class="px-4 md:px-20 lg:px-40 mt-8 md:mt-16 mb-8 md:mb-10">
            <h1 class="text-lg md:text-2xl uppercase font-bold text-[#00457b]">CONSULTANCY</h1>
            <div class="w-full h-[2px] bg-[#00457b] mt-2"></div>
    
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Measurement Facility</h2>
            <p class="text-sm md:text-base font-normal">Measurement using Vector Network Analyzer - For More Details <a class="lowercase font-normal text-md underline text-[#f26e32]" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741536962/iiitn/q2lyzz7zphsdczeqe8hu.pdf">Click Here</a></p>
            <p class="text-sm md:text-base font-normal">Nano SciTech Laboratory Facility - For More Details <a class="lowercase font-normal text-md underline text-[#f26e32]" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741537153/iiitn/w94sm4jzyqxdky99uqc9.pdf">Click Here</a></p>
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Industrial Research and Consultancy</h2>
            <p class="text-sm md:text-base font-normal">Industry/ Academia Partner with Us</p>
            <p class="text-sm md:text-base font-normal">The institute engages in education, research, training, technology development, and related activities in almost all areas of technological and scientific interest. The mandate of the institute states collaborations with the industry.</p>
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">What are the benefits of industry interactions?</h2>
            <ul class="text-sm md:text-base font-normal">
                <li>New & Emerging areas are identified jointly</li>
                <li>Real-life problems are addressed</li>
                <li>Impactful quality of research</li>
                <li>The Institute's skill base is complemented</li>
            </ul>
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Typical project life cycle</h2>
            
             <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Consultancy Projects</h2>
            <ul class="text-sm md:text-base font-normal">
                <li>Short-term projects to solve specific problems of industry, lasting 1-2 years</li>
                <li>Expected results at the end of the project are jointly defined at the beginning</li>
                <li>Cost of a consultancy project usually depends on the nature of the problem to be solved</li>
            </ul>
            
             <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Sponsored Research Projects</h2>
            <ul class="text-sm md:text-base font-normal">
                <li>Long-term projects for new knowledge generation in current, emerging, and futuristic areas, lasting 2-5 years</li>
                <li>Deliverables are more open than those in consultancy projects</li>
                <li>A detailed project plan with a budget to be submitted to and approved by the sponsoring industry</li>
            </ul>
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Completed and Ongoing Projects</h2>
          
                <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Department of Basic Sciences : <a class="lowercase font-normal text-md underline text-[#f26e32]" href="/basic_science/projects">Click Here</a></h2>
                <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Department of Computer Science and Engineering : <a class="lowercase font-normal text-md underline text-[#f26e32]" href="/cse/projects">Click Here</a></h2>
                <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Department of Electronics and Communication Engineering : <a class="lowercase font-normal text-md underline text-[#f26e32]" href="/ece/projects">Click Here</a></h2>
          
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Sponsored Research Labs / Facilities</h2>
            <p class="text-sm md:text-base font-normal">Industry may sponsor a facility/lab in an area of interest to help build IIITN infrastructure.</p>
            <p class="text-sm md:text-base font-normal">Such facilities and labs will be shared with the sponsoring industry and may also be open to others on a case-to-case basis.</p>
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Nano SciTech Laboratory : <a class="lowercase font-normal text-md underline text-[#f26e32]" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741537153/iiitn/w94sm4jzyqxdky99uqc9.pdf">Click Here</a></h2>
            
            <h2 class="md:mt-10 mt-6 text-lg md:text-2xl uppercase font-medium text-[#00457b]">Areas of expertise : <a class="lowercase font-normal text-md underline text-[#f26e32]" href="https://res.cloudinary.com/dax4biuwf/image/upload/v1741537683/iiitn/mqcrwth9makklpmxwu3r.pdf">Click Here</a></h2>
          </div>
    </div>
    </div>
    <%- include('../partials/footer') %> 
  </body>
  <%- include('../partials/tail2') %> 