<!DOCTYPE html>
<html>
<head>
    <title>Department of Basic Sciences - Faculty & Research</title>
</head>
<body>
    <h1>Department of Basic Sciences - Faculty Members</h1>

    <% if (areasOfSpecialization.length) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>S. No.</th>
                    <th>Name</th>
                    <th>Area of Specialization</th>
                </tr>
            </thead>
            <tbody>
                <% areasOfSpecialization.forEach((faculty, index) => { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= faculty.name %></td>
                        <td><%= faculty.areaOfSpecialization %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } else { %>
        <p>No faculty data available at the moment.</p>
    <% } %>

    <h2>Research Publications</h2>
    <p>The department faculty has more than 69 research publications in journals of repute in the following areas:</p>

    <% if (publicationAreas.length) { %>
        <ul>
            <% publicationAreas.forEach(area => { %>
                <li><%= area %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No research publications listed at the moment.</p>
    <% } %>
</body>
</html>
